$color-light: #fff;
$color-dark: #2f3542;
$color-success: #06964e;
$color-success-light: #5ef0a7;
$color-warning: #ca2508;
$color-warning-light: #f17f6b;
$color-focus-light: #3ae1f7;

$font-text: 'Poppins', sans-serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;
